<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/foodInfo.css">
    <script type="text/javascript" src="/public/gmaps.api.js"></script>
    <%- include("template/header.ejs") %>
</head>
<body>
    <div class="container">
        <div class="container1">
            <div class="section1">
                <div class="location">
                    <div class="locs-info">
                        <h3><i class="fa-solid fa-location-dot"></i><%= vendor.location?.name %></h3>
                        <input type="hidden" id="lat" value="<%= vendor.location?.latitude %>">
                        <input type="hidden" id="lng" value="<%= vendor.location?.longitude %>">
                        <h1><%= vendor.businessName %></h1>
                        <div class="location-container">
                            
                        
                        <p><%= vendor.description %></p>
                        </div>
                        <div class="home-container">
                            <button class="cssbuttons-io-button" id="home">
                                home
                                <div class="icon">
                                  <svg
                                    height="24"
                                    width="24"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                      d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                      fill="currentColor"
                                    ></path>
                                  </svg>
                                </div>
                              </button>
                              
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="food">
                        <h3>Available Foods</h3>
                        <div class="card-container">
                            <% 
                            if(vendor.products?.length > 0){
                                vendor.products.forEach((v) => {
                            %>
                            <div class="food-card light-blue">
                                <div class="circle-container">
                                    <div class="circle"><img src="<%= v.productImage %>" alt=""></div>
                                </div>
                                <div class="food-name">
                                    <h4><%= v.name %></h4>
                                </div>
                            </div>
                            <%
                                })}
                            %>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section2">
                <div class="map-container" id="map">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/js/foodInfo.js"></script>
</body>
</html>